<!DOCTYPE html>
<html lang="es">
<head>
	<title> Proyectos | Luis Albizo </title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,0">
	<link rel="stylesheet" href="/res/css/wing.min.css"/>
	<link href="/res/fonts/Montserrat.css" rel="stylesheet">
	<link rel="stylesheet" href="/res/css/green.css"/>
</head>
<body>
	<header id="nav">
		<div v-bind:class="animationClass" id="button-nav" v-on:click="displayNav">
			<div id="bar1"></div>
			<div id="bar2"></div>
			<div id="bar3"></div>
		</div>
		<transition name="slide-fade">
		<nav class="nav" v-if="display">
			<a class="nav-item" href="/">Inicio</a>
			<a class="nav-item" href="/blog">Blog</a>
			<a class="nav-item enabled" href="/projects">Proyectos</a>
			<a class="nav-item" href="/contact.html">Contacto</a>
		</nav>
		</transition>
		<h1 class="text-center">Proyectos Personales</h1>
		<hr/>
	</header>

	<section id="list">
		<div class="cards row center">
			<div class="card col" v-for="el in list.projects">
				<h5 class="card-header"> {{ el.name }} </h5>
				<p class="card-body"> {{ el.desc }} </p>
				<p class="card-body stack">Stack utilizado: <span v-for="s in el.stack">{{ s }} </span></p>
				<footer class="card-footer nav center text-center">
					<a class="nav-item" v-bind:href="el.repo" target="_blank">Repositorio</a>
					<a class="nav-item" v-bind:href="el.more" target="_blank">Aprender mas</a>
				</footer>
			</div>
		</div>
	</section>

	<script src="/res/js/vue.js"></script>
	<script src="/res/js/main.js"></script>
	<script src="/res/js/projects.js"></script>
</body>
</html>
