* {
	color: #fff;
}

a {
	text-decoration: none;
	color: #45608f;
}

a:hover {
	color: #458f60;
}

article.entry {
	padding: 25px;
}

article.entry button {
	display: inline-block;
	margin:auto;
}

body {
	background-color: #101610;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffecbb;
	font-family: 'Montserrat', sans-serif;
	
}

input, textarea {
	color: #000;
	max-width: 100%;
}

form {
	width: 50%;
	margin: auto;
	margin-bottom: 100px;
}

.button {
	color: #466;
	background-color: #ddd;
	border: 3px solid #101610;
}

.button:hover {
	color: #466;
	background-color: #fff;
	border: 3px solid #669;
}

.card {
	min-width: 40%;
	max-width: 65%;
	box-shadow: 0 10px 15px #000;
	margin-bottom: 30px;
}

.card-body {
	margin-left: 8px;
	margin-right: 8px;
}

.card-header {
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 20px;
	color: #466;
	padding-left: 15px;
	border-bottom: 2px solid #466;
}

.card-footer .nav {
	margin: auto;
	text-align: center;
}

.contact {
	font-weight: bold;
}

.contact em {
	color: #ffecbb;
	color: #;
}

.enabled {
	text-decoration: underline #ddd;
}

.highlight {
	width: 90%;
	margin: auto;
	background-color: #000;
	border-radius: 2px;
}

header .nav {
	display: inline-block;
	padding-top: 0;
	margin-top: 0;
	height: 10px;
}

/* The side navigation menu */
aside {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: absolute;
	overflow: auto;
	border-radius: 2px;
}

/* Sidebar links */
aside a {
	display: block;
	color: black;
	text-decoration: none;
}

/* Links on mouse-over */
aside a:hover {
	background-color: #555;
	color: white;
}

aside .col {
	margin: 0;
	padding: 0;
	min-width: 51%;
}

aside .col a {
	padding: 10px;
}

aside .col input {
	display: inline;
	margin: 0;
	padding: 5px;
	max-width: 70%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: none;
	border: none;
}

aside .col input:hover {
	box-shadow: none;
	border: none;
	color: #466;
}

aside .col button {
	display: inline;
	margin: 0;
	padding: 5px;
	max-width: 30%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
section.blog {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

.stack {
	font-weight: bold;
}

.stack span {
	color: #466;
}

#button-nav {
	display: inline-block;
	cursor: pointer;
}

#bar1, #bar2, #bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

/* Animations */

.change #bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change #bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change #bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
} 

.slide-fade-enter-active {
	transition: all .4s ease;
}

.slide-fade-leave-active {
	transition: all .4s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

@media (max-width: 720px) {
	aside {
  		width: 100%;
		height: auto;
		position: relative;
	}
	
	aside a {
		text-align: center;
		float: none;
	}

	section {
		width: 100%;
		margin: 0;
		padding:0;
	}

	section.blog {
		width: 98%;
		margin-left: 0;
	}

	form {
		width: 100%;
		margin:0;
		padding:0;
	}

	.card {
		min-width: 80%;
		max-width: 100%;
	}
}

